*{
    padding: 0;
    margin: 0;
    color: #000000;
}

/*nav bar*/
.menu{
    text-align: center;
    margin: 2%;

}
.navBar{
    list-style: none;
    display: inline;
    padding: 1%;
    text-transform: uppercase;
}
.navBar a{

    text-decoration: none;
}

.navBar:hover{
    background-color: azure;
    transform: scale(1.02);
}

/**/

.numbers{
    display: inline-block;
    padding: 4%;
}